{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <div class="card-header bg-success text-white">
        <h3><i class="fas fa-book me-2"></i>Aggiungi Materia</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Nome Materia</label>
                <input type="text" class="form-control" name="materia" required>
            </div>
            <button type="submit" class="btn btn-primary">Salva</button>
        </form>
    </div>
</div>
{% endblock %}